#active {
  width: 60px;
  height: 60px;
}

#active:hover {
  transform: scale(0.75);
}

.main-image-box {
  height: 300px;
  width: 400px;
}

.main-image-holder {
  max-height: 400px;
  width: 400px;
}

.car-name {
  font-size: 40px;
  line-height: 60px;
  font-weight: 600;
  text-align: center;
}

.left-car-info {
  gap: 20px;
}

.right-car-info {
  gap: 20px;
}

.car-image-slide {
  max-width: 400px;
  width: 100%;
  height: 100%;
  object-fit: cover;
  border-radius: 10px;
  object-position: center;
  cursor: pointer;
  transition: all 0.1s linear;
}

.car-image-slide:hover {
  transform: scale(1.1);
}

.image-slide-mini-boxes {
  width: 55px;
  height: 45px;
  cursor: pointer;
  border-radius: 5px;
  background-image: url("https://www.autopediame.com/storage/images/Chevrolet/traverse/out_61d5c1c138a701641398721.jpg");
  background-position: center;
  background-size: cover;
  background-repeat: no-repeat;
  transition: all 0.1s linear;
}

.image-slide-mini-boxes:hover {
  transform: scale(1.25);
}

.car-charasterictics {
  font-size: 14px;
  line-height: 20px;
  text-transform: uppercase;
}

.color-box {
  width: 45px;
  height: 45px;
  cursor: pointer;
  border-radius: 5px;
  margin-right: 40px;
}

.white {
  background-color: white;
  border: 1px solid black;
}
.black {
  background-color: black;
}
.grey {
  background-color: grey;
  border: 1px solid black;
}
.red {
  background-color: red;
}

.price {
  font-size: 35px;
  line-height: 35px;
  font-weight: bold;
}

.buy-button-car{
 color: white;  
 height: 35px;
 text-align: center;
 cursor: pointer; 
 transition: all 0.1s linear;
}

.buy-button-car:hover{
    transform: scale(1.1);
}