* {
  padding: 0;
  margin: 0;
  box-sizing: border-box;
}

.main-common-style {
  margin: 0 auto;
}

.button-common-style {
  border: none;
  font-weight: bold;
  cursor: pointer;
  border-radius: 5px;
}

.container-common-style {
  max-width: 1200px;
  width: 100%;
}

.topup-tab {
  position: absolute;
  top: 0px;
  border-radius: 5px;
  padding: 10px 20px;
  max-width: 250px;
  width: 100%;
  color: white;
  text-align: center;
  font-size: 16px;
  font-weight: bold;
}

.positive-tab {
  background-color: rgb(60, 242, 60);
}

.negative-tab {
  background-color: red;
}

.gap-5 {
  gap: 5px;
}

.gap-10 {
  gap: 10px;
}

.gap-15 {
  gap: 15px;
}

.gap-20 {
  gap: 20px;
}

.gap-50 {
  gap: 50px;
}

.p-5 {
  padding: 5px;
}

.p-10 {
  padding: 10px;
} 

.p-5-10 {
  padding: 5px 10px;
}
.p-15 {
  padding: 15px;
}

.p-20 {
  padding: 20px;
}

.p-10-20 {
  padding: 10px 20px;
}

.pointer {
  cursor: pointer;
}

.center {
  display: flex;
  align-items: center;
  justify-content: center;
}

.column-center {
  display: flex;
  flex-direction: column;
  align-items: center;
  justify-content: center;
}

.row-center-start {
  display: flex;
  align-items: center;
  justify-content: flex-start;
}

.row-start {
  display: flex;
  align-items: flex-start;
  justify-content: flex-start;
}

.row-start-center {
  display: flex;
  align-items: flex-start;
  justify-content: center;
}

.row-end-center {
  display: flex;
  align-items: flex-end;
  justify-content: center;
}

.row-center-between {
  display: flex;
  align-items: center;
  justify-content: space-between;
}

.column-start {
  display: flex;
  flex-direction: column;
  align-items: flex-start;
  justify-content: flex-start;
}

.cursor {
  cursor: pointer;
}

.w-full{
  width: 100%;
}

.w-50 {
  width: 50px;
}

.w-80 {
  width: 80px;
}

.w-100 {
  width: 100px;
}

.w-150 {
  width: 150px;
}

.w-120 {
  width: 120px;
}

/* margins */

.mb-10 {
  margin-bottom: 10px;
}

.mb-20 {
  margin-bottom: 20px;
}

.mt-10 {
  margin-top: 10px;
}

.mt-20 {
  margin-top: 20px;
}

.mt-50 {
  margin-top: 50px;
}

/* ----positions---- */
.relative{
  position: relative;
}

.absolute{
  position: absolute;
}
/* ----positions---- */

.overflow-hidden {
  overflow: hidden;
}

/* ----colors------ */
.product-bg{
  background-color: rgb(5, 5, 44);
}

.white{
  color: white;
}

.bg-white{
  background-color: white;
}

.bg-grey{
  background-color: rgb(182, 179, 179);
}

.bg-add-btn{
  background-color: blueviolet;
}

.bg-black{
  background-color: black;
}
/* ----colors------ */

/* ----font-weights------ */
.bold{
  font-weight: 600;
}
.f-w-500{
  font-weight: 500;
}
.f-w-400{
  font-weight: 400;
}
/* ----font-weights------ */
